@model CreateLanguageViewModel

@{
    ViewData["Title"] = "LanguageDetail";
}

<h3>Language Detail</h3>

<div>
    <h4>CreateLanguageViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanguageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanguageName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ShowLanguage">Back to List</a>
</div>
