@model Person

<form asp-controller="People" asp-action="EditPerson" onsubmit="PostEditPersonForm(event, this)">
    <div class="form-group">
        <input asp-for="PersonID" type="hidden" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span class="text-danger" asp-validation-for="FirstName"></span>

    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span class="text-danger" asp-validation-for="LastName"></span>

    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span class="text-danger" asp-validation-for="PhoneNumber"></span>

    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span class="text-danger" asp-validation-for="Address"></span>

    </div>
    <div class="form-group">
        <label asp-for="ListLanguageID" class="control-label">Languages</label>
        <select asp-for="ListLanguageID" class="form-control">
            @foreach (var item in Model.Languages)
            {
                <option value="@item.LanguageID">@item.LanguageName</option>
            }
        </select>
        <span asp-validation-for="ListLanguageID" class="text-danger"></span>
    </div>
    <input type="submit" value="OK" class="btn btn-outline-primary" />
</form>
